.card {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin-bottom: 10px;
    margin-right: 1rem;
}